@media (max-width: 750px){
    #banner {
        height: 1235px;
        text-align: center;
    }
    #banner .text-banner .buttons a {
        width: 48%;
        text-align: center;
        padding: 32px 0;
        font-size: 22px;
        margin-right: 0;
    }
    #banner .foto-banner img {
        margin-top: 92px;
        /* margin-left: 100px; */
    }
    #banner .text-banner {
        margin-top: 35px;
    }
    #banner .text-banner .selo {
        bottom: -105px;
        text-align: left;
        width: 100%;
        left: 67px;
    }
    #banner .text-banner .buttons a.bt-1 span {
        left: calc(50% - 44.08px);
    }
    #banner .text-banner .buttons a.bt-2 span {
        left: calc(50% - 80.1px);
    }
    #quem-somos .pd-left .localizacoes span {
        display: block;
        margin-left: 129px;
    }
    #banner .text-banner .buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 51px;
    }
    #banner .text-banner .tiltle {
        margin-bottom: 36px;
        margin-top: 25px;
    }
    #banner .text-banner .list {
        margin: 0 0 25px 0;
    }
    #banner .banner-effect2 {
        height: 565px;
        bottom: -113px;
    }
    #banner .banner-effect1 {
        height: 565px;
        bottom: -113px;
    }
    #video .bg-video {
        width: 100%;
    }
    #video .bg-video iframe {
        width: 675px;
    }
    #atendimento {
        margin-top: 50px;
        padding-bottom: 312px;
    }
    #como-funciona{
        margin-bottom: 215px;
        height: 785px;
    }
    #como-funciona .buttons a {
        width: 50%;
        padding: 35px 0;
        font-size: 21px;
    }
    #como-funciona .box img.arrows{
        display: none;
    }
    #como-funciona .box{
        margin-top: 35px;
        width: 90%;
        display: inline-block;
        height: 305px;
    }
    #comentarios .boxes-comentarios .box {
        width: 700px;
        height: 260px;
    }
    #comentarios .boxes-comentarios {
        margin-top: 43px;
    }
    #comentarios .boxes-comentarios .box span{
        display: none;
    }
    #blog .box{
        text-align: center;
    }
    #ajuda .box{
        width: 100%;
        padding-left: 45px;
        text-align: center;
        height: 320px;
    }
    #ajuda .box img{
        width: auto;
    }
    #ajuda .boxes{
        height: 300px;
    }
    #ajuda .boxes > div span{
        justify-content: center;
        font-size: 24px;
    }
    #blog img {
        width: 100%;
    }
    #como-funciona .boxcf2 img.arrows{
        display: none;
    }
    #como-funciona .boxcf2{
        margin: 40px 0 0 0;
        width: 96%;
        display: inline-block;
    }
    #quem-somos .pd-left {
        padding-left: 0;
    }
    #quem-somos .pd-left p{
        text-align: center;
    }
    #quem-somos .pd-left .localizacoes{
        padding-left: 58px;
    }
    #atendimento .box span {
        margin-top: 72px;
        display: inline-block;
        margin-left: 12px;
    }
    #atendimento .box p {
        font-size: 19px;
    }
    #atendimento .title-left{
        margin-bottom: 50px;
    }
    #ajuda .box p{
        margin: -15px 0 0 0;
    }
    #quem-somos .pd-right{
        text-align: center;
        font-size: 25px !important;
    }
    #quem-somos .pd-right p a{
        font-size: 25px !important;
    }
    #quem-somos .pd-right p{
        font-size: 25px !important;
    }
    #quem-somos .pd-right img:first-child{
        margin-right: 25px;
    }
    #atendimento .image1 {
        float: none;
        margin-bottom: 50px;
        margin-top: -35px;
    }
    #atendimento .image2 {
        position: absolute;
        top: 60px;
        left: 132px;
    }
    #atendimento .images-align-mobal{
        text-align: center;
    }
    #como-funciona .pads{
        width: 750px !important;
    }
}