@media (max-height: 900px){
	.conteudos {
		padding-top: 17%;
	}
}
@media (max-height: 830px){
	.conteudos {
		padding-top: 15%;
	}
}
@media (max-height: 770px){
	.conteudos {
		padding-top: 14%;
	}
}
@media (max-height: 720px){
	.conteudos {
		padding-top: 11%;
	}
}
@media (max-width: 750px){
	/* FONTS */
	.font-pp{
		font-size: 20px;
	}
	.font-s{
		font-size: 26px;
	}
	.font-m{
		font-size: 26px;
	}
	.font-g{
		font-size: 36px;
	}
	.font-xg{
		font-size: 47px;
	}
	/**************************/
	.box-redes{
		display: none !important;
	}
	header .menu > li:hover > .submenu{
		display: inherit;
	}
	header nav ul.menu > li > .submenu > li > a:hover{
	}
	header nav ul.menu > li > .submenu > li:hover{
		color: #000;
		background: none;
	}
	header .menu > li .bt {
		margin: 15px 0;
	}
	#patrocinadores{
		padding: 0 30px 100px 30px;
		box-sizing: border-box;
	}
	#f-line-1{
		padding: 30px 30px !important;
		box-sizing: border-box !important;
	}
	#f-line-2{
		padding: 30px 30px !important;
		box-sizing: border-box !important;
	}
	#programacao{
		padding: 30px 30px !important;
		box-sizing: border-box !important;
	}
	#banner .bx-center {
		width: 1059px;
		background-size: cover;
		height: 419px;
		margin-top: 160px;
		text-align: center;
		position: relative;
	}
	#banner .bx-center .obj-rec{
		right: 123px;
		bottom: 40px;
	}
	header{
		height: 100px;
	}
	header nav .menu-open {
		position: absolute;
		margin: 34px 0px;
		right: 42px;
		top: -97px;
		width: 50px;
		height: 50px;
		z-index: 99999999;
	}
	header nav .menu-open:after {
		content:'';
	}
	header nav .menu-open:before {
		content:'';
	}
	header nav .menu-open span,
	header nav .menu-open:before,
	header nav .menu-open:after {
		width: 100%;
		height: 2px;
		background: #02569e;
		float: left;
		margin: 5px 0px;
		transition: .5s;
	}
	header nav.active .menu-open span,
	header nav.active .menu-open:before,
	header nav.active .menu-open:after {
	}
	header nav.active .menu-open:before {
		transform: rotate(135deg);
		margin-bottom: -4px;
		margin-top: 20px;
	}
	header nav.active .menu-open:after {
		transform: rotate(-135deg);
		margin-top: -10px;
	}
	header nav.active .menu-open span {
		width: 200%;
		background: transparent;
		margin-left: -100%;
	}
	header nav .submenu{
		z-index: 9;
		padding: 15px 0px;
		margin: 0;
		position: absolute;
		min-width: 300px;
		transition: 0.2s;
		opacity: 0;
		margin-top: 30px;
		visibility: hidden;
		text-align: left;
		border-radius: 5px;
	}
	header .menu > li{
		height: auto;
	}
	header nav > ul > li:hover > .submenu{
		opacity: 1;
		margin-top: 0;
		visibility: visible;
	}
	header nav .submenu:before{
		position: absolute;
		content: "";
		width: 20px;
		height: 20px;
		left: 25px;
		top: -10px;
		background-color: #3b4f96;
		transform: rotate(45deg);
	}
	header nav .submenu > li{
		list-style: none;
		line-height: 40px;
		padding:0px 0px;
		transition:all .2s;
		opacity:0;
		transition-delay:.2s;
	}
	header nav .submenu > li:nth-child(even) {
		transition-delay:.25s;
	}
	header nav li:hover .submenu li {
		padding: 0px 20px;
		opacity: 1;
	}
	header nav .submenu > li > a{
		position: relative;
		display: block;
		color: #fff;
		text-decoration: none;
	}
	header nav .submenu > li > a:before{
		position: absolute;
		left: 0;
		bottom: 0;
		content: "";
		width: 0px;
		height: 2px;
		background-color: #ffffff;
		transition: 0.1s;
	}
	header nav .submenu > li > a:hover:before{
		width: 30px;
	}
	header .container .logo{
		overflow: hidden;
		float: left;
		height: 70px;
		margin: 5px;
	}
	header nav ul.menu{
		width: 479px;
		height: 100vh;
		position: fixed;
		top: -18px;
		overflow: scroll;
		z-index: 99;
		transition: 0.4s;
		visibility: hidden;
		right: -200%;
		margin-top: 0 !important;
		padding-top: 96px;
	}
	header nav.active ul.menu{
		visibility: visible;
		right: -30px;
		overflow-y: hidden;
	}
	header nav ul.menu:before{
		content: "";
		position: fixed;
		right: 0;
		top: 0;
		width: 479px;
		height: 100vh;
		background-color: #f5f5f5;
		z-index: -1;
	}
	header nav ul.menu > li{
		border-bottom: 1px solid #e6e6e7;
		display: block !important;
		line-height: 50px;
		height: 100px;
	}
	header nav ul.menu > li > a{
		display: flex;
		text-align: left;
		color: #000;
		font-weight: 600;
		width: 100%;
		box-sizing: border-box;
		padding:  0;
		font-weight: 700;
		font-size: 27px;
		line-height: 87px;
		height: 100%;
		line-height: 36px;
		align-content: center;
		align-items: center;
	}
	header nav ul.menu > li > .submenu{
		position: relative;
		padding: 0px;
		margin: 0;
		min-width: 100%;
		transition: 0.1s;
		visibility: hidden;
		height: 0;
	}
	header nav ul.menu > li.active > .submenu{
		visibility: visible;
		height: auto;
		padding: 0  0  35px 0;
		max-height: none;
		opacity: 1;
		border: none;
		top: 0;
	}
	header nav ul.menu > li > .submenu:before{
		position: absolute;
		content: "";
		width: 20px;
		height: 20px;
		left: 50px;
		background-color: #394d94;
		transform: rotate(45deg);
		transition: .1s;
		top: 10px;
		opacity: 0;
	}
	header nav ul.menu > li.active > .submenu:before{
		top: -10px;
		opacity: 0 ;
	}
	header nav ul.menu > li > .submenu > li{
		list-style: none;
		line-height: 40px;
		padding:0px 0px;
	}
	header nav ul.menu > li.active > .submenu li {
		padding: 0px 20px;
		opacity: 1;
		width: 100%;
		background: #f5f5f5;
	}
	header nav ul.menu > li > .submenu > li > a{
		position: relative;
		display: block;
		color: #000;
		text-decoration: none;
		text-align: left;
	}
	header nav ul.menu > li > a.btn-submenu:after{
		float: right;
		content: "\f107";
		font-family: "fontAwesome";
		font-size: 200%;
		color: #c8cece;
	}
	header nav ul.menu > li.active > a.btn-submenu:after{
		content: "\f106";
	}
	header nav li.menu-redes{
		display: none !important;
	}
	.menu-angledown:before{
		content: "\f107";
		position: absolute;
		right: 75px;
		display: inline-block;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: inherit;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		top: 16px;
		font-weight: 600;
	}
	header .menu > li > .submenu{
		background-color: #f5f5f5;
	}
	#header .logo img {
		max-width: 600px;
		height: auto;
		width: 280px;
		margin-top: 7px;
	}
	.submenu-2 a{
		color: #000;
		text-decoration: none;
	}
	.bt-mob{
		text-align: center;
	}
	p{
		font-size: 20px;
	}
	body {
		overflow-x: hidden;
		overflow-y: auto;
	}
	a:last-child {
		margin-right: 0;
	}
	header nav.active .menu-open:before,
	header nav.active .menu-open:after{
		background: #000;
	}
	header nav ul.menu > li > a.bt{
		text-align: center;
		width: 374px;
		float: left;
		height: 73px;
		line-height: 73px;
		display: inline-block;
		margin-left: 21px;
		padding-left: 0;
	}
	.content {
		box-sizing: border-box;
		padding: 0 20px;
	}
	.desk-none{
		display: flex !important;
	}
	.mb-none{
		display: none !important;
	}
	#faq .faqs{
		margin-top: 35px;
	}
	#footer-2 {
		background: #004C8D;
		height: 110px;
	}
	#footer-2 .al-ft2 p {
		text-align: center;
	}
	#footer-1 .bd-left {
		border-left: none;
		padding-left: 0;
		line-height: 25px;
		margin-top: 29px;
	}
	#calculadora {
		padding: 45px 0 45px 0;
		height: auto;
		text-align: center;
	}
	#calculadora .calculadora {
		width: 97%;
	}
	.calculadora label.free-label{
		font-size: 25px;
	}
	.calculadora select {
		font-size: 25px;
	}
	#calculadora .text-icon img{
		display: none;
	}
	#calculadora .left-calc a{
		padding: 30px 35px;
		margin-bottom: 30px;
		font-size: 22px;
	}
	#faq {
		margin: 70px 0;
	}
	#faq .faqs .text.active {
		display: block;
		height: 400px;
		opacity: 1;
		transition: 0.5s;
	}
}